<div class="container">
  <h1> Here are your recommended friends </h1>
  <div class="row row-cols-1 row-cols-md-3">
    <% @users.each do |user| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <% if user.profile_image.attached? %>
              <%= image_tag user.profile_image, class: 'card-img-top', width: 300, height: 300 %>
            <% else %>
              <%= image_pack_tag 'media/src/images/default-user-profile.svg', class: 'card-img-top', width: 300, height: 300 %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"> <%= user.name %> </h5>
              <p class="card-text">Email: <%= user.email %></p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
