<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">
      <h1>To Admin,</h1>
      <p> The following prayer has been reported spam. Please check and confirm again. </p>
      <p>
        Prayer item: <%= @prayer.request%>
      </p>
    </div>
  </body>
</html>
