<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">
      <h2>Thank you for joining us to pray for each other.</h2>
      <h4>Please pray for:</h4>
      <p>
        <%= @prayer.request%>
      </p>
      <% unless @prayer.user_particulars['name'].empty? %>
        <h6>Submitted by: <%= @prayer.user_particulars['name'] %></h6>
      <% end %>
      <p>
        To follow us, just click on this link: 
        <%= link_to 'Prayer Letter-Box', 'https://prayers-letterbox.herokuapp.com/' %>
      </p>
      <p>Thanks for joining and have a great day!</p>
    </div>
  </body>
  <footer class="footer-email">
    <i>
    Always be joyful. Never stop praying. Whatever happens, give thanks, because it is God’s will in Christ Jesus that you do this.
    <br />
    1 Thessalonians 5:16-18
    </i>
  </footer>
</html>
