<h1>Thank you for joining us to pray for each other.</h1>
<p>
  <h4>Please pray for:</h4>
  <% @prayers.each do |prayer| %>
    <ul>
      <li><%= prayer.request%></li>
    </ul>
  <% end %>
</p>
<p>
  To follow us, just click on this link: 
  <%= link_to 'Prayer Letter-Box', 'https://prayers-letterbox.herokuapp.com/' %>
</p>
<p>Thanks for joining and have a great day!</p>
