<h2>Thank you for joining us to pray for each other.</h2>
<h4>Please pray for:</h4>
<ul>
  <li><%= @prayer.request%></li>
</ul>
<% unless @prayer.user_particulars['name'].empty? %>
  <p>Submitted by: <%= @prayer.user_particulars['name'] %></p>
<% end %>
<p>
  To follow us, just click on this link: 
  <%= link_to 'Prayer Letter-Box', 'https://prayers-letterbox.herokuapp.com/' %>
</p>
<p>Thanks for joining and have a great day!</p>
