<div class="container mt-3">
  <div class="row mb-5">
    <div class="col-sm-6">
      <%= image_pack_tag 'media/src/images/united-people.svg', width: '80%', alt: 'people', class: 'img-fluid rounded mx-auto d-block' %>
    </div>
    <div class="col-sm-6">
      <h2>What is prayer letterbox?</h2>
      <br/>
      <p class="about-font"> Prayer letterbox is an initiative effort by Jon and Tim to build a prayer community during this period of COVID-19; We recognized that during this period of lockdown, lifestyle changing and facing the uncertainty, we need to seek God even more, through prayers and the comfort of his Words.  </p>
      <p class="about-font"> We encourage everyone to be open in sharing your prayer requests (anonymously or not) and to pray for one another.</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-6">
      <h2>What can you do?</h2>
      <br/>
      <p class="about-font">
        1. Submit your prayer request with everyone. (If you're not comfortable with submitting with your name, you can leave it blank too)
      </p>
      <p class="about-font">
        2. Click 'Pray for someone' button to receive a prayer request you can pray for.
      </p>
      <p class="about-font">
        3. Schedule a prayer lists to consistently pray for someone across the week <span class="font-italic">(Work-In-Progress)</span>
      </p>
    </div>
    <div class="col-sm-6">
      <%= image_pack_tag 'media/src/images/BirdOnMailbox.svg', width: '60%', alt: 'people', class: 'img-fluid rounded mx-auto d-block' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= image_pack_tag 'media/src/images/respect-sign.svg', width: '80%', alt: 'people', class: 'img-fluid rounded mx-auto d-block' %>
    </div>
    <div class="col-sm-6">
      <h2>Gentle Reminder</h2>
      <br/>
      <p class="about-font"> Please be reminded that prayer letterbox is a safe space for people to share their prayer request. </p>
      <p class="about-font"> Please do not post any vulgarities in the prayer requests and no bashing of other people. </p>
      <p class="about-font">Inappropriate prayer requests will be removed. </p>
    </div>
  </div>
  <br/>
  <hr/>
  <div class="row">
    <div class="col-sm-12">
      <blockquote class="blockquote text-center">
        <p class="mb-0">Always be joyful. Never stop praying. Whatever happens, give thanks, because it is God’s will in Christ Jesus that you do this.</p>
        <footer class="blockquote-footer">1 Thessalonians 5:16-18 </footer>
      </blockquote>
    </div>
  </div>
  <hr/>
  <br/>
  <div class="row">
    <div class="col-sm-12">
      <h2>Contact Us</h2>
      <p> If you have any issues regarding the app, or you wish to join us in developing this app, please contact: </p>
      <p>Contact us at: prayersletterbox@gmail.com</p>
    </div>
  </div>
</div>

