<div class="container">
    <h1><u>Releases</u></h1>

    <h2>V1</h2>
    <ul>

      <li>Get annonymous prayers - Single & Multiple</li>
      <li>Email prayers to yourself</li>
      <li>Make prayers</li>
    </ul>

    <h2>V2</h2>
    <ul>
      <li>Sign Up/Sign In</li>
      <li>Profile Management</li>
      <li>Update About Us page</li>
      <li>Update email templates</li>
    </ul>

    <h2>V3</h2>
    <ul>
      <li>Sign In using Facebook/Google</li>
      <li>Add users as friends</li>
      <li>Privatize prayers so that only friends can see</li>
      <li>Update status of prayers - Active, Archive, Completed</li>
      <li>Create, Read, Update, Delete prayer from Profile Page</li>
      <li>Comment section</li>
      <li>Categorize prayers</li>
      <li>Update UI/UX</li>
    </ul>

   
</div>
