// Import google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');
h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

p.lord-prayer {
    font-size: 20px;
    font-family: 'Old Standard TT', serif;
}

.about-font {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

#disp_prayer {
    font-size: 25px;
}

.form-mobile-width {
    width: 50%;
}

.custom-scrollbar {
    position: relative;
    height: 480px;
    overflow: auto;
}

@media only screen and (max-width: 768px) {
    .form-mobile-width {
        width: 90%;
    }
    .custom-scrollbar {
        position: relative;
        height: 368px;
        overflow: auto;
    }
}

#index_make_prayer .card-text {
    font-size: 18px;
}

#index_show_prayers .card {
    height: 200px;
}

#index_show_prayers .card-text {
    font-size: 18px;
}

.table-wrapper-scroll-y {
    display: block;
}

svg.icon-font-size {
    font-size: 1.2em !important;
}

.username {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}

#navbarDropdown .img {
    border-radius: 50%;
    width: 10%;
}