h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

p.lord-prayer {
    font-size: 20px;
    font-family: 'Old Standard TT', serif;
}

.about-font {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

#disp_prayer {
    font-size: 25px;
}

.form-mobile-width {
    width: 80%;
}

.custom-scrollbar {
    position: relative;
    height: 480px;
    overflow: auto;
}

@media only screen and (max-width: 768px) {
    .form-mobile-width {
        width: 90%;
    }
    .custom-scrollbar {
        position: relative;
        height: 368px;
        overflow: auto;
    }
}

#index_make_prayer .card-text {
    font-size: 18px;
}

#index_show_prayers .card {
    height: 200px;
}

#index_show_prayers .card-text {
    font-size: 18px;
}

.table-wrapper-scroll-y {
    display: block;
}

svg.icon-font-size {
    font-size: 1.2em;
}

.spam-container svg.icon-font-size {
    font-size: 0.8em;
}

.theme-color {
    color: #4169E1;
}

.comment {
    font-size: 18px;
}

.comment-created-at {
    font-size: 10px;
}

#summary {
    font-size: 14px;
    line-height: 1.5;
}

#summary p.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#summary p.collapsing {
    min-height: 42px !important;
}

#summary a.collapsed:after {
    content: 'Read More';
}

#summary a:not(.collapsed):after {
    content: 'Read Less';
}

.selectize-control {
    width: 50%;
}