.about-font {
    font-size: 20px;
}

#disp_prayer {
    font-size: 25px;
}

#new_prayer {
    width: 40%;
}

@media only screen and (max-width: 768px) {
    #new_prayer {
        width: 90%;
    }
}

#index_make_prayer .card-text {
    font-size: 18px;
}

#index_show_prayers .card {
    height: 200px;
}

#index_show_prayers .card-text {
    font-size: 18px;
}