.user-content{
  text-align: left;
  padding: 10px 20px;
}

.style-profile-image{
	width: 100%;
	border-radius: 10px;
}

.icon-size{
  width: 20%;
  height: 20%;
  border-radius: 25px;
  border: 2px solid black;
}

//-------------------------------Find your friend page--------------------------------
.friend-list{
  padding: 20px 0;
  border-top: 5px solid #f1f2f2;
  border-bottom: 5px solid #f1f2f2;
  margin-bottom: 20px;
}

.profile-avatar{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}


