.user-content{
  text-align: left;
  padding: 10px 20px;
}

.style-profile-image{
  width: 100%;
}

//-------------------------------Find your friend page--------------------------------
.friend-list{
  padding: 20px 0;
  border-top: 1px solid #f1f2f2;
  border-bottom: 1px solid #f1f2f2;
  margin-bottom: 20px;
}

.profile-avatar{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
