<div class="container">
  <h1 class="text-primary"> Hello God! </h1>
  <div class="row">
    <div class="col-md-6">
      <a class="btn btn-success" href="/prayers/new">Make a prayer</a>
    </div>
    <div class="col-md-6">
      <a class="btn btn-primary" href="/prayers/show">Pray for someone</a>
    </div>        
  </div>
</div> 