<div class="container">
  <h1><strong>  This, then, is how you should pray: </strong></h1>
  <p class="lord-prayer">   Our Father in heaven,
        hallowed be your name,
        your kingdom come,
        your will be done,
        on earth as it is in heaven.
        Give us today our daily bread.
        And forgive us our debts,
        as we also have forgiven our debtors.
        And lead us not into temptation,
        but deliver us from the evil one. (Mat 6:9-13)
  </p>
  <div class="row mb-5 mt-4">
    <div id="index_make_prayer" class="col-sm-6 mb-3">
      <div class="card">
        <%= image_pack_tag 'media/src/images/prayer-bible.jpg', alt: 'prayer-hand', class: 'img-fluid rounded float-left'%>
        <div class="card-body">
          <p class="card-text">Have something you need support in? Try this!</p>
          <%= link_to 'Make a Prayer', new_prayer_path, class: 'btn btn-success' %>
        </div>
      </div>
    </div>
    <div id="index_show_prayers" class="col-sm-6">
      <div class="row">
        <% @prayers.where(is_deleted: false).limit(6).order(created_at: :desc).each_with_index do |prayer, index|%>
          <div class="col-sm-4 mb-2">
            <div class="card mb-2 box-shadow">
              <div class="card-header">
                Pray for...
              </div>
              <div class="card-body">
                <p class="card-text"><%= prayer.request %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= link_to 'Pray for someone', '/prayers/show', class: 'btn btn-primary' %>
        </div>     
      </div>
    </div>
  </div>
</div>
