<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <%= image_pack_tag 'media/src/images/praying-hands-emoji-logo.png', alt: "prayer-hand-logo", width: "30", height: "30", class: "d-inline-block align-top" %>
    Prayer Letter-Box
  </a>
</nav>