<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      .footer-email {
        color: #ABB8B5;
        font-size: 12px;
      }
    </style>
  </head>

  <body class="container">
    <%= yield %>
  </body>
  <footer class="footer-email">
    <i>
    Always be joyful. Never stop praying. Whatever happens, give thanks, because it is God’s will in Christ Jesus that you do this.
    <br />
    1 Thessalonians 5:16-18
    </i>
  </footer>
</html>
